<table class="table">
  <thead>
    <tr>
      <!-- Table Heading -->
      <th scope="col">#</th>
      <th scope="col">Player</th>
      <th scope="col">Team</th>
      <th scope="col">AGE</th>
      <th scope="col">GP</th>
      <th scope="col">W</th>
      <th scope="col">L</th>
      <th scope="col">MIN</th>
      <th scope="col">PTS</th>
      <th scope="col">FGM</th>
      <th scope="col">FGA</th>
      <th scope="col">FG%</th>
      <th scope="col">3PM</th>
      <th scope="col">3PA</th>
      <th scope="col">3P%</th>
      <th scope="col">FTM</th>
      <th scope="col">FTA</th>
      <th scope="col">FT%</th>
      <th scope="col">OREB</th>
      <th scope="col">DREB</th>
      <th scope="col">REB</th>
      <th scope="col">AST</th>
      <th scope="col">TOV</th>
      <th scope="col">STL</th>
      <th scope="col">BLK</th>
      <th scope="col">PF</th>
      <th scope="col">FP</th>
      <th scope="col">DD2</th>
      <th scope="col">TD3</th>
      <th scope="col">+/-</th>

      <!-- Table Heading -->

    </tr>
  </thead>
  <tbody>
    <!-- Table Body or the values that are going to be in the Table -->
    <tr>
      <th scope="row">1</th>
      <td>James Harden</td>
      <td>HOU</td>
      <td>30</td>
      <td>61</td>
      <td>39</td>
      <td>22</td>
      <td>36.7</td>
      <td>34.4</td>
      <td>9.9</td>
      <td>22.7</td>
      <td>43.5</td>
      <td>4.4</td>
      <td>12.6</td>
      <td>35.2</td>
      <td>10.1</td>
      <td>11.8</td>
      <td>86.1</td>
      <td>1.0</td>
      <td>5.3</td>
      <td>6.4</td>
      <td>7.4</td>
      <td>4.5</td>
      <td>1.7</td>
      <td>0.9</td>
      <td>3.4</td>
      <td>56.4</td>
      <td>19</td>
      <td>4</td>
      <td>4.1</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Bradley Beal</td>
      <td>WAS</td>
      <td>26</td>
      <td>57</td>
      <td>20</td>
      <td>37</td>
      <td>36.0</td>
      <td>30.5</td>
      <td>10.4</td>
      <td>22.9</td>
      <td>45.5</td>
      <td>3.0</td>
      <td>8.4</td>
      <td>35.3</td>
      <td>6.8</td>
      <td>8.0</td>
      <td>84.2</td>
      <td>0.9</td>
      <td>3.3</td>
      <td>4.2</td>
      <td>6.1</td>
      <td>3.4</td>
      <td>1.2</td>
      <td>0.4</td>
      <td>2.2</td>
      <td>46.3</td>
      <td>8</td>
      <td>0</td>
      <td>-3.5</td>
    </tr>

    <tr>
      <th scope="row"></th>

    </tr>
    <!-- Table Body or the values that are going to be in the Table -->
  </tbody>
</table>
